<% @properties.each do |property| %>
  <div>
    <%= property.name %>
    </br>
    <% property.image_as_thumbnail.each do |image|%>
      <%= image_tag(image) %>
      </br>
    <%end%>
  </div>
<%end%>
